<!DOCTYPE html>
<html lang="vi">
<head>
    <title>{% block title %}Trang Chính{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <a href="/"><h2>NOC VETC</h2></a>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'department_list' %}">Danh Sách Phòng Ban</a></li>
            {% block nav %}
            <!-- Danh sách phòng ban hoặc các liên kết điều hướng khác có thể được thêm vào đây -->
            {% endblock %}
        </ul>
    </nav>

    <section>
        {% block content %}
        <!-- Nội dung chính của trang sẽ được chèn vào đây -->
        {% endblock %}
    </section>

    <footer>
        <p>Chân Trang</p>
    </footer>
</body>
</html>
